body {
    background-color: lemonchiffon;
}
h1 {
    text-align: center;
    color: red;
}
h2 {
    text-align: center;
}
p {
    text-align: center;
}
h3 {
    text-align: center;
    color: red
}
ul {
    text-align: center;
}
img {
    display: flex;
    justify-content: center;
}
